// water-pipe effect on the number, got inspiration for this website https://alvarotrigo.com/blog/css-text-animations/
.water-pipes {
    box-sizing: content-box;
    font: 10.5em 'Arial';
    width: 10vw;
    margin: 0 23vw 3vw 0;
    padding-right: 3vw;

    .water-pipes__running-water {
        fill: transparent;
        stroke: map-get($main, "text-color");
        stroke-dasharray: 6% 29%;
        stroke-width: 5px;
        stroke-dashoffset: 0%;
        animation: stroke-offset 5.5s infinite linear;
    }

    .water-pipes__running-water:nth-child(1){
    stroke: map-get($water-pipe, "first-color");
    animation-delay: -1;
    }

    .water-pipes__running-water:nth-child(2){
    stroke: map-get($water-pipe, "second-color");
    animation-delay: -2s;
    }

    .water-pipes__running-water:nth-child(3){
    stroke: map-get($water-pipe, "third-color");
    animation-delay: -3s;
    }

    .water-pipes__running-water:nth-child(4){
    stroke: map-get($water-pipe, "fourth-color");
    animation-delay: -4s;
    }

    .water-pipes__running-water:nth-child(5){
    stroke: none;
    animation-delay: -5s;
    }
}


// a spraybottle that sprays waterdrops
#spraybottle {
    fill: map-get($main, "text-color");
    opacity: .8;
    width: 15vh;
    transform: rotate(-5deg);

    .spray {
        opacity: 0;
        position: relative;
        animation: spray 2s infinite;
    }

    .handle {
        transform: rotate(-25deg);
        transform-origin: 50% 15%;
        animation: handle 2s infinite;
    }
}

// one of four persons statistic
#persons {
    display: flex;
    justify-content: center;
    transition: opacity 3s;
    
    .person {
    fill: map-get($main, "text-color");
    width: 6vw;
    position: relative;
    }

    .person--opacity {
    opacity: .5;
    }
}

// a trashcan that moves trash inside the can when the user scrolls
#trashcan {
    width: 50%;

    path {
        fill: map-get($main, "text-color");
        fill-opacity: .5;

        // trash can lid
        &:nth-child(1) {
            transform-origin: center right;
        }
    }
}

#trashbag {
    width: 50%;
    position: absolute;

    opacity: .75;
    margin-top: 15vh;
    padding: 10vh 0 0 40vw;

    transform: translateX(-20vw) rotateZ(-90deg);
}

// a bathtub with waves and bubbles that moves 
#bathtub {
    fill: map-get($main, "text-color");
    width: 25vw;
    margin: 0 2rem;

    .wave {
        opacity: .8;
        animation: wave 10s ease-in-out infinite;
        }
    
    .tub {
        fill: transparent;
        stroke: map-get($main, "text-color");
        stroke-miterlimit:10;
        stroke-width: 20px;
    }

    .bubbles {
        animation: bubbles 30s ease-in-out infinite;
        opacity: .8;
    }

    .bubbles:nth-child(odd) {
        animation: bubbles 30s ease-in-out infinite 5s;
    }
}