$main: (
  "text-color": white,
  "text-color__lightMode": black,
  "background": #333,
  "background__lightMode" : rgb(226, 224, 212),
);


$droplet-active: red;
$waterdrop__slide--h2: black;


// rgba(255, 255, 255, 0.5);
$fill-color__svg: white;
$stroke-color__number: white;