.square--ingrid {
  height: 100px;
  width: 100px;
  position: relative;
  background-color: map-get($square--ingrid, "background__primary");
  border-radius: 50%;
  animation: bounce 10s linear 1s infinite;
}

.square--henna {
  width: 150px;
  height: 150px;
  background-color: map-get($square--henna, "background");
  border-radius: 50% 50%;
  position: relative;
  margin: 200px auto;
  animation-name: sphere;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}

.square--henna:hover {
  opacity: 0;
  transition-duration: 2s;
  animation-play-state: paused;
}
  
.square--thomas {
  margin: 0 auto;
  background: map-get($square--thomas, "background__darkMode");
  animation: trotate 3s ease-in-out infinite 0s alternate none;

  border-radius: 50% / 33%;
  width: 200px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
      font-family: $font__primary;
  }
}
