.ball-container {
  position: absolute;
  }
  
.ball {
  height: 100px;
  width: 100px;
  position: relative;
  background-color: $ballIngrid;
  border-radius: 50%;
  animation: bounce 10s linear 1s infinite;
}
  
  @keyframes bounce {
  10% {height: 100px; width: 100px;}
  30% {height: 100px; width: 90px;}
  50% {height: 60px; width: 120; transform: translateY(80vh); background-color: $primary;}
  100% {transform: translateY(0px); background-color: $ballIngrid}
}

@media (prefers-reduced-motion) {
  .ball {
    animation: none;
  }
}

@media (prefers-color-scheme: dark) {
  .ball {
    background-color: $ballIngrid-darkMode;
  }
}

@media (orientation: landscape) {
  .ball {
    background-color: $ballIngrid-change;
  }
}