$primary: rgb(95, 124, 250);

//Background-colors to Ingrid's animated square
$ballIngrid: #70BA9E;
$ballIngrid-change: #4c894b;
$ballIngrid-darkMode: #b388ce;
$ballIngrid-shadow: black;

// Thomas
$body--tsquare-background__dark: darkslateblue;
$body--tsquare-background__light: gray;
$body--tsquare-color__light: black;

//colors to the body on dark mode 
$body-background-darkMode: black;
$body-color-darkMode: white;
