// water pipe effect on the strokes to the water 
@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
  }

// waves on the ocean on the first page 
@keyframes ocean {
    from {
        transform: scale(2) translateY(20vh) scaleX(2) translateX(12.5vw);
    }
    to {
        transform: scale(2) translateY(20vh) scaleX(2) translateX(37.5vw);
    }
}
@keyframes ocean_4k {
    from {
        transform: scale(2) translateY(20vh) scaleX(4) translateX(25vw);
    }
    to {
        transform: scale(2) translateY(20vh) scaleX(4) translateX(37.5vw);
    }
}

// falling droplets scene animation
@keyframes droplet_falling {
    0% {
        margin-top: 0;
        opacity: 0;
    }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% {
        margin-top: 85vh;
        opacity: 0;
    }
}

// spraybottle
@keyframes spray {
    25%{opacity: 0; transform: translateX(0) }
    30%{opacity: .2;}
    50%{opacity: 1; transform: translateX(0) }
    100%{opacity: 0; transform: translateX(-1.2vw) }
}

@keyframes handle {
    from, to{transform: rotate(0);}
    50%{transform: rotate(-25deg);}
}

// typewriter 
@keyframes typing {
    from { 
        width: 0;
    }
    to { 
        width: 100%;
    }
}

@keyframes blinking-cursor {
    from, to { 
        border-color: transparent;
    }
    50% {
        border-color: map-get($main, "text-color"); 
    }
}

// bathtub, we got the inspiration for the waves on this youtube video https://www.youtube.com/watch?v=Tf6qm5JMUXQ
@keyframes wave {
	0%,100% {
		clip-path: polygon(0 42%, 13% 48%, 26% 55%, 41% 64%, 56% 65%, 69% 58%, 84% 45%, 100% 38%, 100% 100%, 0% 100%);
	}

	50%{
		clip-path: polygon(0 63%, 14% 57%, 25% 50%, 40% 42%, 56% 40%, 71% 44%, 84% 50%, 100% 60%, 100% 100%, 0% 100%);
	}
}

@keyframes bubbles {
    25% {
        transform: translate(4vw, 6vw) scale(90%);
        opacity: .5;
    }
    50% {
        transform: translate(2vw, 2vw) scale(100%);
        opacity: .8;
    }
    70% {
        transform: translate(6vw, 4vw) scale(90%);
        opacity: .5;
    }
}