* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font__primary;
}

main {
    color: map-get($main, "text-color");
    // padding: 2em 4em;
    background-color: map-get($main, "background");
}

h2 {
    text-align: center;
    padding-bottom: 2rem;
}

p {
    max-width: 60ch;
    margin: 0 auto;
}

.slide:nth-child(odd) > p {
    grid-column: 2;
}

#front {
    position: fixed;
    height: 100vh;
    width: 100%;

    background-color: $waterdrop__slide--h2;

    .background {
        width: 100%;
        height: auto;
        position: absolute;

        filter: brightness(.8);

        // for smooth scene transition
        opacity: 0;
        transition: opacity 1s;
    }
}

#slides {
    width: 100%;
    position: relative;

    #title_slide {
        height: 100vh;
        background-color: black;
        position: relative;
        z-index: 1;

        // center image
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 33%;
        }
    }

    .slide {
        height: 100vh;
        border: 1px solid red;
        display: grid;
        grid-template-columns: 50vw 50vw;
    }
}

// water droplet sidebar
#drop_sidebar {
    width: 7%;
    height: 100vh;
    position: relative;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .droplet {
        max-height: 11vh;
        max-width: 9vh;
        transition: 1s opacity;
        opacity: .33;
    }
}

.active { opacity: 1 !important; }
.hidden { opacity: 0 !important; }

.logo {
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: flex-end;

    img {
        max-width: 8vw;
        padding: 1rem;
    }
}

// slide 6: animated water droplets
#slides > section:nth-child(5) {
    // to cancel grid display on this slide
    display: block;

    .content {
        position: relative;

        // center h2
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            padding: 1.5rem;
            background-color: $waterdrop__slide--h2;
        }
    }
}

@keyframes droplet_falling {
    0% {
        margin-top: 0;
        opacity: 0;
    }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% {
        margin-top: 85vh;
        opacity: 0;
    }
}

.droplet_scene {
    position: absolute;

    img {
        position: absolute;
        width: 5vw;

        opacity: 0;
        animation: droplet_falling 5s infinite linear;
    }
}