* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font__primary;
}

main {
    color: map-get($main, "text-color");
    // padding: 2em 4em;
    background-color: map-get($main, "background");
    overflow-x: hidden;
}

h2 {
    text-align: center;
    padding-bottom: 2rem;
}

p {
    max-width: 60ch;
    margin: 0 auto;
}

.center {
    // horizontally and vertically center
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin center {
    // horizontally and vertically center (mixin)
    display: flex;
    align-items: center;
    justify-content: center;
}

#front {
    position: fixed;
    height: 100vh;
    width: 100%;

    background-color: $waterdrop__slide--h2;

    .background {
        width: 100vw;
        height: 100vh;
        position: absolute;

        background-size: cover;
        background-position: center;
        filter: brightness(.5);

        // for smooth scene transition
        opacity: 0;
        transition: opacity 1s;
    }
}

#slides {
    width: 100%;
    position: relative;

    #title_slide {
        @include center;

        height: 100vh;
        background-color: var(--main__bg-color);
        position: relative;
        z-index: 3;

        #logo__title {
            width: 33vw;
            position: absolute;
            fill: var(--main__text-color);
        }

        #first-waterdrop {
            position: fixed;
            height: 18%;
            margin-top: 1%;
            transform: translateY(7vh);

            path {
                fill: $waterdrop__first--static;
            }
        }
    }

    .ocean {
        z-index: 2;
        background-color: var(--main__bg-color);
        clip-path: path('M0,256L40,224C80,192,160,128,240,117.3C320,107,400,149,480,192C560,235,640,277,720,288C800,299,880,277,960,234.7C1040,192,1120,128,1200,106.7C1280,85,1360,107,1400,117.3L1440,128L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z');    
        transform-origin: right;
        transform: scale(2) translateY(20vh) scaleX(2) translateX(12.5vw);
        animation: ocean 10s infinite alternate;
    }

    .slide {
        height: 100vh;
        display: grid;
        grid-template-columns: 50vw 50vw;
    
        .split_slide {
            @include center;  // center content using mixin
            font-size: 1.1rem;
            padding: 3rem;
            transition: opacity 1s;
        }
    }

    .slide:nth-child(even) > p {
        grid-column: 2;
    }
}

// water droplet sidebar
#drop_sidebar {
    width: 7%;
    height: 100vh;
    position: relative;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .droplet {
        max-height: 11vh;
        max-width: 9vh;
        transition: 1s opacity;
        opacity: .33;
    }
}

.active { opacity: 1 !important; }
.hidden { opacity: 0 !important; }

figure {
    .number {
        font-family: $font__number;
        font-weight: bolder;
        font-size: 10em;
        color: map-get($main, "text-color--opacity");
        -webkit-text-stroke: 2px map-get($main, "text-color"); 
        text-align: center;
        position: relative;
        display: inline-block;
    }

    // invisible number (unless reduced motion is preferred)
    .motion_number {
        display: none;
    }

    figcaption {
        text-align: center;
        font-size: 1.5em;
    }
}

.logo__link {
    position: fixed;
    z-index: 1;
    width: 100%;

    display: flex;
    justify-content: flex-end;

    img {
        max-width: 10vw;
        padding: 1rem;
    }
}

// slide 6: animated water droplets
#slides > section:nth-child(6) {
    // to cancel grid display on this slide
    display: block;

    .content {
        position: relative;
        height: 100vh;

        h2 {
            padding: 1.5rem;
            background-color: $waterdrop__slide--h2;

            // typewriter effect, inspiration from this website https://css-tricks.com/snippets/css/typewriter-effect/
            margin: 0 auto; 
            letter-spacing: .15em; 
            max-width: 47ch;
            overflow: hidden; 
            white-space: nowrap; 
            border-right: .15em solid map-get($main, "text-color"); 
            animation: typing 5s steps(40, end), 
                blinking-cursor .75s step-end infinite;
            animation-play-state: paused;
        }
    }
}

.droplet_scene {
    position: absolute;

    img {
        position: absolute;
        width: 5vw;

        opacity: 0;
        animation: droplet_falling 5s infinite linear;
    }
}
