@media (orientation: portrait) {
    .background {
        // make background scale to height in portrait mode
        background-size: auto;
    }
}

@media (prefers-color-scheme: light) {
    // light theme config
    :root {
        --main__text-color: #{map-get($main, "text-color__lightMode")};
        --main__bg-color: #{map-get($main, "background__lightMode")};
    }
}

@media (prefers-reduced-motion) {
    * {
        // pause animations
        animation-play-state: paused !important;
        // autocomplete animations (show last frame instead of first)
        animation-direction: reverse !important;
        // cancel all transitions
        // transition: 0s !important;
    }

    // force the trashbag and trashcan lid to not move
    #trashbag {
        transform: translateX(-20vw) !important;
    }
    #trashcan path:nth-child(1) {
        transform: rotateZ(0deg) !important;
    }

    // replace animated number with a static one
    .number {
        display: none !important;
    }
    .motion_number {
        display: inline-block !important;
    }
}