* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "segoe ui";
}

main {
  color: white;
  background-color: #333;
  overflow-x: hidden;
}

h2 {
  text-align: center;
  padding-bottom: 2rem;
}

p {
  max-width: 60ch;
  margin: 0 auto;
}

#front {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: black;
}
#front .background {
  width: 100%;
  height: auto;
  position: absolute;
  filter: brightness(0.5);
  opacity: 0;
  transform: scale(1.2);
  transition: opacity 1s, transform 50s;
}

#slides {
  width: 100%;
  position: relative;
}
#slides #title_slide {
  height: 100vh;
  background-color: black;
  position: relative;
  z-index: 1;
}
#slides #title_slide img {
  width: 33%;
}
#slides .slide {
  height: 100vh;
  display: grid;
  grid-template-columns: 50vw 50vw;
}
#slides .slide .split_slide {
  font-size: 1.1rem;
  padding: 3rem;
  transition: opacity 1s;
}
#slides .slide:nth-child(odd) > p {
  grid-column: 2;
}

#drop_sidebar {
  width: 7%;
  height: 100vh;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#drop_sidebar .droplet {
  max-height: 11vh;
  max-width: 9vh;
  transition: 1s opacity;
  opacity: 0.33;
}

.active {
  opacity: 1 !important;
}

.hidden {
  opacity: 0 !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

figure .number {
  font-family: "Arial", "Helvetica", "sans-serif";
  font-weight: bolder;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-stroke: 2px white;
  text-align: center;
  position: relative;
  display: inline-block;
}
figure figcaption {
  text-align: center;
  font-size: 1.5em;
}

.logo {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.logo img {
  max-width: 8vw;
  padding: 1rem;
}

#slides > section:nth-child(5) {
  display: block;
}
#slides > section:nth-child(5) .content {
  position: relative;
  height: 100vh;
}
#slides > section:nth-child(5) .content h2 {
  padding: 1.5rem;
  background-color: black;
  margin: 0 auto;
  letter-spacing: 0.15em;
  max-width: 47ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid white;
  -webkit-animation: typing 5s steps(40, end), blinking-cursor 0.75s step-end infinite;
          animation: typing 5s steps(40, end), blinking-cursor 0.75s step-end infinite;
}

@-webkit-keyframes droplet_falling {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-top: 85vh;
    opacity: 0;
  }
}

@keyframes droplet_falling {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-top: 85vh;
    opacity: 0;
  }
}
.droplet_scene {
  position: absolute;
}
.droplet_scene img {
  position: absolute;
  width: 5vw;
  opacity: 0;
  -webkit-animation: droplet_falling 5s infinite linear;
          animation: droplet_falling 5s infinite linear;
}

#trashcan {
  width: 50%;
}
#trashcan path {
  fill: white;
  fill-opacity: 0.5;
}
#trashcan path:nth-child(1) {
  transform-origin: center right;
}

#trashbag {
  width: 50%;
  position: absolute;
  opacity: 0.75;
  margin-top: 15vh;
  padding: 10vh 0 0 40vw;
  transform: translateX(-20vw) rotateZ(-90deg);
}

@-webkit-keyframes spray {
  25% {
    opacity: 0;
    transform: translateX(0);
  }
  30% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-1.2vw);
  }
}

@keyframes spray {
  25% {
    opacity: 0;
    transform: translateX(0);
  }
  30% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-1.2vw);
  }
}
@-webkit-keyframes handle {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes handle {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes blinking-cursor {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@keyframes blinking-cursor {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@-webkit-keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0 42%, 13% 48%, 26% 55%, 41% 64%, 56% 65%, 69% 58%, 84% 45%, 100% 38%, 100% 100%, 0% 100%);
            clip-path: polygon(0 42%, 13% 48%, 26% 55%, 41% 64%, 56% 65%, 69% 58%, 84% 45%, 100% 38%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 63%, 14% 57%, 25% 50%, 40% 42%, 56% 40%, 71% 44%, 84% 50%, 100% 60%, 100% 100%, 0% 100%);
            clip-path: polygon(0 63%, 14% 57%, 25% 50%, 40% 42%, 56% 40%, 71% 44%, 84% 50%, 100% 60%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0 42%, 13% 48%, 26% 55%, 41% 64%, 56% 65%, 69% 58%, 84% 45%, 100% 38%, 100% 100%, 0% 100%);
            clip-path: polygon(0 42%, 13% 48%, 26% 55%, 41% 64%, 56% 65%, 69% 58%, 84% 45%, 100% 38%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 63%, 14% 57%, 25% 50%, 40% 42%, 56% 40%, 71% 44%, 84% 50%, 100% 60%, 100% 100%, 0% 100%);
            clip-path: polygon(0 63%, 14% 57%, 25% 50%, 40% 42%, 56% 40%, 71% 44%, 84% 50%, 100% 60%, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes bubbles {
  25% {
    transform: translate(4vw, 6vw) scale(90%);
    opacity: 0.5;
  }
  50% {
    transform: translate(2vw, 2vw) scale(100%);
    opacity: 0.8;
  }
  70% {
    transform: translate(6vw, 4vw) scale(90%);
    opacity: 0.5;
  }
}
@keyframes bubbles {
  25% {
    transform: translate(4vw, 6vw) scale(90%);
    opacity: 0.5;
  }
  50% {
    transform: translate(2vw, 2vw) scale(100%);
    opacity: 0.8;
  }
  70% {
    transform: translate(6vw, 4vw) scale(90%);
    opacity: 0.5;
  }
}
@media (prefers-reduced-motion) {
  .spray, .handle, .bubbles {
    -webkit-animation: none;
            animation: none;
  }
}
#spraybottle {
  fill: white;
  opacity: 0.8;
  width: 15vh;
  transform: rotate(-5deg);
}
#spraybottle .spray {
  opacity: 0;
  position: relative;
  -webkit-animation: spray 2s infinite;
          animation: spray 2s infinite;
}
#spraybottle .handle {
  transform: rotate(-25deg);
  transform-origin: 50% 15%;
  -webkit-animation: handle 2s infinite;
          animation: handle 2s infinite;
}
#spraybottle .spraybottle__text {
  font-size: 10em;
  fill: black;
}

#persons {
  display: flex;
  justify-content: center;
}
#persons .person {
  fill: white;
  width: 6vw;
  position: relative;
}
#persons .person--opacity {
  opacity: 0.5;
}

#bathtub {
  fill: white;
  width: 25vw;
  margin: 0 2rem;
}
#bathtub .wave {
  opacity: 0.8;
  -webkit-animation: wave 10s ease-in-out infinite;
          animation: wave 10s ease-in-out infinite;
}
#bathtub .tub {
  fill: transparent;
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 20px;
}
#bathtub .bubbles {
  -webkit-animation: bubbles 30s ease-in-out infinite;
          animation: bubbles 30s ease-in-out infinite;
  opacity: 0.8;
}
#bathtub .bubbles:nth-child(odd) {
  -webkit-animation: bubbles 30s ease-in-out infinite 5s;
          animation: bubbles 30s ease-in-out infinite 5s;
}/*# sourceMappingURL=index.css.map */