* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "segoe ui";
}

main {
  color: white;
  background-color: #333;
}

h2 {
  text-align: center;
  padding-bottom: 2rem;
}

p {
  max-width: 60ch;
  margin: 0 auto;
}

#front {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#front .background {
  width: 100%;
  height: auto;
  position: absolute;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#slides {
  width: 100%;
  position: relative;
}

#slides #title_slide {
  height: 100vh;
  background-color: black;
  position: relative;
  z-index: 1;
}

#slides #title_slide img {
  width: 33%;
}

#slides .slide {
  height: 100vh;
  border: 1px solid red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50vw 50vw;
      grid-template-columns: 50vw 50vw;
}

#slides .slide .split_slide {
  font-size: 1.1rem;
  padding: 3rem;
}

#slides .slide:nth-child(odd) > p {
  -ms-grid-column: 2;
  grid-column: 2;
}

#drop_sidebar {
  width: 7%;
  height: 100vh;
  position: relative;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#drop_sidebar .droplet {
  max-height: 11vh;
  max-width: 9vh;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  opacity: .33;
}

.active {
  opacity: 1 !important;
}

.hidden {
  opacity: 0 !important;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

figure .number {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-stroke: 2px white;
  text-align: center;
}

figure figcaption {
  text-align: center;
  font-size: 1.5em;
}

.logo {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo img {
  max-width: 8vw;
  padding: 1rem;
}

#slides > section:nth-child(5) {
  display: block;
}

#slides > section:nth-child(5) .content {
  position: relative;
  height: 100vh;
}

#slides > section:nth-child(5) .content h2 {
  padding: 1.5rem;
  background-color: black;
}

@-webkit-keyframes droplet_falling {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-top: 85vh;
    opacity: 0;
  }
}

@keyframes droplet_falling {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-top: 85vh;
    opacity: 0;
  }
}

.droplet_scene {
  position: absolute;
}

.droplet_scene img {
  position: absolute;
  width: 5vw;
  opacity: 0;
  -webkit-animation: droplet_falling 5s infinite linear;
          animation: droplet_falling 5s infinite linear;
}

#trashcan {
  width: 50%;
}

#trashcan path {
  fill: white;
  fill-opacity: .5;
}

#trashcan path:nth-child(1) {
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

#trashbag {
  width: 50%;
  position: absolute;
  margin-top: 15vh;
  padding: 10vh 0 0 40vw;
  -webkit-transform: translateX(-20vw) rotateZ(-90deg);
          transform: translateX(-20vw) rotateZ(-90deg);
}

@-webkit-keyframes spray {
  25% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  30% {
    opacity: .2;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2vw);
            transform: translateX(-2vw);
  }
}

@keyframes spray {
  25% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  30% {
    opacity: .2;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2vw);
            transform: translateX(-2vw);
  }
}

@-webkit-keyframes handle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes handle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

#spraybottle {
  fill: white;
  opacity: .8;
}

.spray {
  opacity: 0;
  position: relative;
  -webkit-animation: spray 2s infinite;
          animation: spray 2s infinite;
}

.handle {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  -webkit-transform-origin: 50% 35%;
          transform-origin: 50% 35%;
  -webkit-animation: handle 2s infinite;
          animation: handle 2s infinite;
}
/*# sourceMappingURL=index.css.map */